* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.7
}

.header {
    background-color: white;
    padding: 2%;
    margin-bottom: 15%;
}

.header-logo {
    font-family: "Bungee Shade", cursive;
    color: white;
    text-align: left;
    font-size: 5em;
    width: auto;
    display: inline-block;
}

.header .navigation .li-element {
    list-style-type: none;
    text-align: center;
    display: block;
    background-color: #29434e;
    color: white;
    padding: 0.5% 1%;
    margin: 5% 0;
    font-family: Roboto;
}

.li-element li {
    margin: 5% 0;
    padding: 10% 0;
}

.menu-containter {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 20%;
    bottom: 0.2em;
}

.menu-bar-1, .menu-bar-2, .menu-bar-3 {
    width: 2.2em;
    height: 0.3em;
    border-radius: 10%;
    background-color: white;
    margin: 0.4em auto;
    transition: 0.4s;
}

.change .menu-bar-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .menu-bar-2 {
    opacity: 0;
}

.change .menu-bar-3 {
    -webkit-transform: rotate(45deg) translate(-9px, -10px);
    transform: rotate(45deg) translate(-9px, -10px);
}

.navigation {
    padding: 0 25%;
    display: none;
}

@media only screen and (min-width: 760px) {    
    .header {
        display: block;
        height: 10%;
        padding: 1%;
        position: fixed;
        width: 100%;
        margin-bottom: 10%;
        z-index: 1;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .menu-containter {
        display: none;
    }

    .menu-bar-1, .menu-bar-2, .menu-bar-3 {
        display: none;
    }

    .header-logo {
        float: left;
        width: 10%;
        font-size: 300%;
        margin-top: -0.35%;
        line-height: 1;
        padding-left: 10%;
        color: black;
    }
    
    .header-image {
        width: 10%;
        height: 10%;
        margin: 0;
        padding: 0;
        float: left;
    }
    
    .header .navigation .li-element{
        display: inline-block;
        background-color: white;
        padding: 0.5% 1%;
        border-radius: 3%;
        font-weight: bold;
        font-size: 1.563vw;
        margin: 0 0.5%;
        color: black;
        position: relative;
        left: 57.5%;
        list-style-type: none;
    }

    .li-element li {
        margin: 0;
        padding: 0;
        background-color: none;
    }

    .navigation {
        padding: 0;
        display: initial;
    }
    
    .header .navigation .li-element:hover {
        background-color: black;
        color: white;
    }

    .footer {
        background-color: white;
        color: black;
        padding: 3%;
        font-size: 20px;
        margin-top: 2%;
    }
    
    .footer-line {
        border-bottom: solid 1px black;
        width: 95%;
        margin: 0 auto;
        z-index: 0;
    }
    
    .footer-li {
        font-family: Roboto;
        margin-top: 3%;
        position: relative;
        left: 32.5%;
        z-index: 0;
    }
    
    .footer-li li {
        list-style-type: none;
    }

    .footer-address {
        font-family: Roboto;
        margin-top: 3%;
        position: relative;
        left: 45%;
        z-index: 0;
    }
    
    .footer-text {
        font-family: Roboto;
        position: relative;
        left: 40%;
        margin-top: 5%;
        font-style: italic;
        z-index: 0;
    }
    
    .main {
        padding-top: 7%;
        z-index: 0;
    }

    .load-button {
        display: block;
        background-color: white;
        color: black;
        margin: 0 auto;
        font-size: 1em;     
        cursor: pointer;
        width: 3%;
        border: 5px black solid;
        border-radius: 100%;
        user-select: none;
        -ms-user-select: none;
    }
}