{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta charset="utf-8">
				<link rel="stylesheet" href="{% static 'card.css' %}">
    </head>
    <body onload="load();" id="main-body" class="main-body">
        <div class="row">
					<div class="card-hover col-3">
						<img onclick="showHidden(this)" id="article" class="card-hover-image" src="{{ article.article_image.url }}" alt="Aurora">
						<div class="card-heading">
							<h1> Talvi-ilta </h1>
						</div>
					</div>
					<div class="card-hover col-6">
						<img class="card-hover-image" src="{% static 'autumn.jpg' %}" alt="Autumn">
						<div class="card-heading">
							<h1> Kesäilta </h1>
						</div>
					</div>
					<div class="card-hover col-9">
						<img class="card-hover-image" src="{% static 'butterfly.jpg' %}" alt="Butterfly">
						<div class="card-heading">
							<h1> Metsän yö </h1>
						</div>
					</div>
        </div>
				<div class="row">
					<div class="card-hover col-3">
						<img class="card-hover-image" src="{% static 'fog.jpg' %}" alt="Fog">
						<div class="card-text">
							<h1> Aamu </h1>
						</div>
					</div>
					<div class="card-hover col-6">
						<img class="card-hover-image" src="{% static 'forest.jpg' %}" alt="Forest">
						<div class="card-text">
							<h1> Aamu </h1>
						</div>
					</div>
					<div class="card-hover col-9">
						<img class="card-hover-image" src="{% static 'nature.jpg' %}" alt="Nature">
						<div class="card-text">
							<h1> Aamu </h1>
						</div>
					</div>
        </div>
				<div class="row">
					<div class="card-hover col-3">
						<img class="card-hover-image" src="{% static 'spring-bird.jpg' %}" alt="Spring-Bird">
						<div class="card-text">
							<h1> Aamu </h1>
						</div>
					</div>
					<div class="card-hover col-6">
						<img class="card-hover-image" src="{% static 'rocks.jpg' %}" alt="Rocks">
						<div class="card-text">
							<h1> Aamu </h1>
						</div>
					</div>
					<div class="card-hover col-9">
						<img class="card-hover-image" src="{% static 'sunrise.jpg' %}" alt="Sunrise">
						<div class="card-text">
							<h1> Aamu </h1>
						</div>
					</div>
        </div>
				<div onclick="showHidden('id1');" class="article" id="id1">
					<div onclick="showHidden('id123');" id="id2" class="article-text">
						{% if article %}
							<h1 style="text-align: center;"> {{article.article_header}} </h1>
							<img src="{% static 'aurora.jpg' %}" alt="Aurora">
							<p>{{article.article_text}}</p>
						{% endif %}
					</div>
				</div>
				<script>
					function load() {
						let elem = document.getElementById("id1");
						elem.addEventListener("onClick", showHidden, false);
					}

					function showHidden(id) {
						if (id === "id123") {
							event.stopPropagation();
							return;
						}
						if (id != "id1") {
							document.getElementById("main-body").style.overflow = "hidden";
							document.getElementById("id1").style.display = "block";
							let inter = setInterval(frame, 5);
							let top = 100;
							function frame() {
								if (top == 0) {
									clearInterval(inter);
								} else {
									top -= 5;
									document.getElementById("id1").style.top = top + "%";
								}
							}
						} else {
							document.getElementById("id1").style.display = "none";
							document.getElementById("main-body").style.overflow = "scroll";
						}
					}
				</script>
    </body>
</html>
