{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Shade&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
		<title>Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'card.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	</head>
	<body  onload="load();" id="main-body" class="main-body">
		<header class="header">
			<h1 class="header-logo"> Blog </h1>
			<nav>
				<ul class="navigation">
					<a class="li-element"><li> Home </li></a>
					<a class="li-element"><li> About </li></a>
					<a class="li-element"><li> Search </li></a>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer class="footer">
		<div class="flex-container">
			<div class="footer-line">

			</div>
		</div>
		<div class="flex-container">
			<div class="footer-li">
			<h3>Useful links</h3>
			<ul>
				<li>About us</li>
				<li>Contact us</li>
				<li>News</li>
				<li>Jobs</li>

			</ul>
			</div>
			<div class="footer-address">
			<address class="">
				Made by Aleksi Illikainen <br>
				Sairaalarinne 3B 60 <br>
				Finland <br>
				040 1234567 <br>
				aura@gmail.com
			</address>
			</div>
		</div>
		<div class="flex-container">
			<div class="footer-text">
			<p>&copy;Aleksi Illikainen 2020 </p>
			</div>
		</div>
		</footer>
		<script>
				const url = "http://127.0.0.1:8000/home/restarticles/?format=json";
				function getArticleData(id) {
					let number = id;
					fetch(url)
					.then(function(response) {
						return response.json();
					})
					.then(function(myJson, id) {
						let obj = myJson[number - 1];
						document.getElementById("article-header").innerHTML = obj["article_header"];
						document.getElementById("article-paragraph").innerHTML = obj["article_text"];
						document.getElementById("article-image").src = obj["article_image"];
					})
					.catch(function(error) {
						console.log(error);
					});
				}

				function load() {
					let elem = document.getElementById("id1");
					elem.addEventListener("onClick", showHidden, false);
				}

				function showHidden(id) {
					console.log(id);
					let a = getArticleData(id);
					console.log(a);

					if (id.toString() === "id123") {
						event.stopPropagation();
						return;
					}
					if (id.toString() != "id1") {
						document.getElementById("main-body").style.overflow = "hidden";
						document.getElementById("id1").style.display = "block";
						let inter = setInterval(frame, 5);
						let top = 100;
						function frame() {
							if (top == 0) {
								clearInterval(inter);
							} else {
								top -= 5;
								document.getElementById("id1").style.top = top + "%";
							}
						}
					} else {
						document.getElementById("id1").scrollTop = 0;
						document.getElementById("id1").style.display = "none";
						document.getElementById("main-body").style.overflow = "scroll";
					}
				}
		</script>
	</body>
</html>
