{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Shade&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
		<title>Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'card.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'front-page.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
		
	</head>
	<body id="main-body" class="main-body">
		<header class="header">
			<h1 class="header-logo"> Blog </h1>
			<div class="menu-containter" onclick="changeMenu(this);">
				<div class="menu-bar-1"></div>
				<div class="menu-bar-2"></div>
				<div class="menu-bar-3"></div>
			</div>
			<nav>
				<ul class="navigation">
					<a class="li-element" href="http://127.0.0.1:8000"><li> Home </li></a>
					<a class="li-element"><li> About </li></a>
					<a class="li-element" href="http://127.0.0.1:8000/articles"><li> Articles </li></a>
				</ul>
			</nav>
		</header>
		<main class="main">
			{% block content %}
			{% endblock %}
		</main>
		<footer class="footer">
		<div class="flex-container">
			<div class="footer-line">

			</div>
		</div>
		<div class="flex-container">
			<div class="footer-li">
			<h3>Useful links</h3>
			<ul>
				<li>About us</li>
				<li>Contact us</li>
				<li>News</li>
				<li>Jobs</li>

			</ul>
			</div>
			<div class="footer-address">
			<address class="">
				Made by Aleksi Illikainen <br>
				Sairaalarinne 3B 60 <br>
				Finland <br>
				040 1234567 <br>
				aura@gmail.com
			</address>
			</div>
		</div>
		<div class="flex-container">
			<div class="footer-text">
			<p>&copy; Aleksi Illikainen 2020 </p>
			</div>
		</div>
		</footer>
		<script>
				function getArticleData(id) {
					let url = "http://127.0.0.1:8000/home/articles/";
					url = url + id.toString();
					fetch(url)
					.then(function(response) {
						return response.json();
					})
					.then(function(myJson, id) {
						document.getElementById("article-header").innerHTML = myJson["article_header"];
						document.getElementById("article-paragraph").innerHTML = myJson["article_text"];
						document.getElementById("article-image").src = myJson["article_image"];
						document.getElementById("article-date").innerHTML = myJson["article_date"];
					})
					.catch(function(error) {
						console.log(error);
					});
				}

				function setArticleId(id) {
					document.getElementById("id_comment_article").value = id;
				}

				function loadComments(id) {
					let url = "http://127.0.0.1:8000/home/comments/list/" + id.toString();
					setArticleId(id);
					fetch(url)
					.then(function(response) {
						return response.json();
					})
					.then(function(myJson) {
						var child = document.createElement("DIV")
						child.className = "article-comment-container";
						document.getElementById("article-text")
						for (let com in myJson) {
							let single_comment = document.createElement("DIV");
							let name = document.createElement("P");
							let comment = document.createElement("P");
							let date = document.createElement("P");
							comment.innerText = myJson[com]["comment_text"];
							name.innerText = myJson[com]["commentor_name"];
							date.innerText = myJson[com]["comment_date"];
							single_comment.className = "article-single-comment"
							comment.className = "article-comment-paragraph";
							name.className = "article-comment-name";
							date.className = "article-comment-date";
							single_comment.appendChild(name);
							single_comment.appendChild(date);
							single_comment.appendChild(comment);
							child.appendChild(single_comment)
						}
						document.getElementById("article-comments").appendChild(child);
					})
					.catch(function(error) {
						console.log(error);
					});
				}

				function load() {
					let elem = document.getElementById("id1");
					elem.addEventListener("onClick", showHidden, false);
				}

				function changeMenu(x) {
					console.log(x.classList);
					x.classList.toggle("change");
				}

				function loadMoreArticles(amount) {
					let number = 0;
					for (let i = 0; i < amount; i++) {
						if (i % 3 === 0) {
							var node = document.createElement("DIV");
							var id = "mane" + i.toString();
							node.className = "row";
							node.id = id
							number = 0;
							document.getElementById("content").appendChild(node)
						}
						let child = document.createElement("DIV");
						let header = document.createElement("DIV");
						let image = document.createElement("IMG");
						let heading = document.createElement("P");
						child.className = "card-hover " + "col-" + (3 + number * 3).toString();
						header.className = "card-heading";
						heading.innerText = "Heading";
						image.className = "card-hover-image";
						image.src = "https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687";
						header.appendChild(heading);
						child.appendChild(header);
						child.appendChild(image);
						child.setAttribute("onclick", "showHidden(" + (i + 9).toString() + ");");
						document.getElementById(id).appendChild(child);
						number += 1;
					}
				}

				function removeChildren(element) {
					let child = element.lastChild;
					while (child) {
						element.removeChild(child)
						child = element.lastChild;
					}
					console.log("Done");
				}

				function showHidden(id) {
					console.log(id);
					if (screen.width < 768) {
						console.log("Mobile");
						window.open("https://www.google.com");
						return;
					}

					if (id.toString() === "id123") {
						event.stopPropagation();
						return;
					}

					if (id.toString() != "id1") {
						let a = getArticleData(id);
						let inter = setInterval(frame, 5);
						let top = 100;

						document.getElementById("main-body").style.overflow = "hidden";
						document.getElementById("id1").style.display = "block";
						function frame() {
							if (top == 10) {
								clearInterval(inter);
							} else {
								top -= 5;
								document.getElementById("id1").style.top = top + "%";
							}
						}
					} else {
						removeChildren(document.getElementById("article-comments"))
						document.getElementById("id1").scrollTop = 0;
						document.getElementById("id1").style.display = "none";
						document.getElementById("main-body").style.overflow = "scroll";
						
					}
				}
		</script>
	</body>
</html>
