{% extends 'webblog/base.html' %}

{% load static %}

{% block content %}
    <script>
        function loadMostRecentArticle() {
            url = "http://127.0.0.1:8000/recent_article";
            fetch(url)
            .then(function(response) {
                return response.json();
            })
            .then(function(myJson) {
                document.getElementById("article-image").src = myJson["article_image"];
                document.getElementById("article-title").innerHTML = myJson["article-header"];
                document.getElementById("article-para").innerHTML = myJson["article-text"];
            })
            .catch(function(error) {
                console.log(error);
            });
        }

        loadMostRecentArticle();
    </script>
    <div class="front-page-image-container">
        <div class="front-page-text-container">
            <div class="front-page-headline">
                <h1> Discussions on the most <br> hottest topics in the world </h1>
            </div>
            <div class="front-page-subline">
                <p> Daily blog posts on politics, technology and more. </p>
            </div>
        </div>
        <div class="subscribe-form">
            <h3> Subscibe to our newsletter </h3>
            <form action="http://127.0.0.1:8000/subscribe" method="post">
                {% csrf_token %}
                <div class="form-container">
                    <div class="subscribe-name">
                        <label for="{{ form.name.id_for_label }}"> Name </label>
                        {{ form.name }}
                    </div>
                    <div class="subscribe-email">
                        <label for="{{ form.email.id_for_label }}"> Email </label>
                        {{ form.email }}
                    </div>
                    <input type="submit" value="Sumbit" id="form-button">
                    {{ form.date.as_hidden }}
                </div>
            </form>
        </div>
    </div>
    <div class="article-container">
        <div class="article-image-container">
            <img id="article-image" src="">
        </div>
        <div class="article-header">
            <p id="article-title"> </p>
        </div>
        <div class="article-snippet">
            <p id="article-para"> </p>
        </div>
    </div>
{% endblock content %}