{% extends 'webblog/base.html' %}

{% load static %}

{% block content %}
			{% block body %}
      <div class="row">
				<div onclick="showHidden(9);" class="card-hover col-3">
					<div class="card-heading">
						<p> {{ article1.article_header }} </p>
					</div>
					<img id="article" class="card-hover-image" src="{{ article1.article_image.url }}">
					<div class="tags">
						<p class="tag"> Chars </p>
					</div>
				</div>
				<div onclick="showHidden(8)" class="card-hover col-6">
					<div class="card-heading">
						<p> {{ article2.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article2.article_image.url }}">
				</div>
				<div onclick="showHidden(7)" class="card-hover col-9">
					<div class="card-heading">
						<p> {{ article3.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article3.article_image.url }}">
				</div>
      </div>
			<div class="row">
				<div onclick="showHidden(6)" class="card-hover col-3">
					<div class="card-heading">
						<p> {{ article4.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article4.article_image.url }}">
				</div>
				<div onclick="showHidden(5)" class="card-hover col-6">
					<div class="card-heading">
						<p> {{ article5.article_header }} </p>
					</div>
				<img class="card-hover-image" src="{{ article5.article_image.url }}">
				</div>
				<div onclick="showHidden(4)" class="card-hover col-9">
					<div class="card-heading">
						<p> {{ article6.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article6.article_image.url }}">
				</div>
      </div>
			<div class="row">
				<div onclick="showHidden(3)" class="card-hover col-3">
					<div class="card-heading">
						<p> {{ article7.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article7.article_image.url }}">
				</div>
				<div onclick="showHidden(2)" class="card-hover col-6">
					<div class="card-heading">
						<p> {{ article8.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article8.article_image.url }}">
				</div>
				<div onclick="showHidden(1)" class="card-hover col-9">
					<div class="card-heading">
						<p> {{ article9.article_header }} </p>
					</div>
					<img class="card-hover-image" src="{{ article9.article_image.url }}">
				</div>
      </div>
			<div onclick="showHidden('id1');" class="article" id="id1">
				<div onclick="showHidden('id123');" id="id123" class="article-text">
					<div class="article-header-container">
						<h1 id="article-header"> </h1>
					</div>
					<img id="article-image" src="" alt="Picture related to Post" class="article-image">
					<em id="article-date" style="font-size: 0.8em; margin-bottom: 2%;"> </em>
					<p id="article-paragraph"> </p>
					<div class="article-writer">
						<img src="{% static 'profiili.png' %}" alt="Profile" class="article-profile">
						<h3 class="article-writer-name"> Doge McDoggerson </h3>
						<p class="article-writer-desc"> Writer at Blog.blog.blogs.com </p>
					</div>
				</div>
			</div>
			{% endblock body %}
{% endblock content %}